.navigation {
	order: 0;
	flex: 0 1 auto;
	align-self: auto;

	.logo {
		padding: 0.5rem;
		cursor: pointer;

		img { 
			width: 35px;
		}

		&:hover {
			background-color: $ginker-light;
		}
	}

	aside {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;


			li {

				a {
					color: $white;
					padding: 1rem;
					display: block;

					&.active {
						background-color: $ginker-light;
					}

					&:hover {
						background-color: $ginker-light;
					}

				}
			}

		}

	}
}
