.settings {
  font-size: 1.1rem;

  div {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    input,select {
      padding: 4px;
      border-radius: .5rem;
      margin-left: 1rem;
    }
  }
}
